/*
    lightWhite -#F9FAFE
    lightgrey -#DFDFE7
    Black - #23233C
    Blue - #777AFC
    green-#OBDA85
    grey - #A1A1A4
    orange - #F4B076
    blue- #9EA0EF
*/

/*
Universal selector
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Nunito", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-color: #DFDFE7;
    font-size: 14px;
}



/*
  Header
*/
.header {
    overflow: hidden;
    background-color: #23233C;
    padding: 5px 10px;
}
.header a {
    float: left;
    color: #F9FAFE;
    text-align: center;
    padding: 12px;
    text-decoration: none;
  }
  .header a.logo {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 14px;
  }
  .header-right {
    float: right;
  }



  .task-container{
      width: 100%;
      padding: 25px;
  }
  .task-card{
      width: 30%;
      display: inline-block;
  }
  .task-header{
      height: 50px;
      background-color: #777AFC;
  }