@import "abstracts/variables";
@import "abstracts/functions";

@import "base/base";
@import "base/animation";
@import "base/utilities";


@import "components/model";


@import "layout/header";


.task-container {
  height: calc(100vh - 121px);
  overflow-x: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-content: space-around;
  align-items: flex-start;
}


.task-card {
  flex-shrink: 2;
  box-shadow: 1px 7px 10px -2px $color-black-shadow;
  width: 314px;
  margin: 2px;
  background-color: color-white;
  min-height: 100px;
  padding-bottom: 20px
}

.task-header {
  height: 50px;
  background-color: $color-primary;
}

.add__container {
  padding: 10px 30px 20px;
  text-align: center;
  display: flex;
  justify-content: flex-end;
  .btn {
    width: 100px;
    padding: 5px;
    border-radius: 5px;
  }
  
  .add-btn {
    background-color: $color-blue;
    box-shadow: 1px 7px 10px -2px $color-blue;
    color: $color-lightWhite;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
  }
  
  .btn-text {
    text-decoration: none;
  }
}


.task-header--text {
  color: $color-lightWhite;
  line-height: 50px;
  padding-left: 10px;
  font-size: 16px;
  letter-spacing: 1px;
}

.task-list-container {
  display: flex;
  flex-direction: column;
}

.task-element {
  width: 90%;
  background-color: $color-lightWhite;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 6px 15px $color-lightgrey;
  margin-top: 12px;
  cursor: pointer;
}

.task-element--heading {
  font-weight: 700;
  color: $color-black;
}

.task-element--body {
  color: $color-black;
}

/*Model */











.plus-button {
  float: right;
  margin-top: 10px;
  margin-right: 15px;
  font-size: 21px;
  color: #fff;
  line-height: 28px;
  text-align: center;
  padding: 0px 8px 0px 8px;
  border-radius: 50px;
  background-color: #0BDA85;
  box-shadow: 1px 7px 10px -2px $color-black-shadow;
  cursor: pointer;

}

.tast-actions {
  float: right;
}

.replace {
  display: none;
}

.task-body-edit {
  clear: both;
  margin-right: 24px;
}

// ::-webkit-scrollbar {
//   height: 10px;
// }

// ::-webkit-scrollbar-track {
//   background: #f1f1f1;
// }

// ::-webkit-scrollbar-thumb {
//   background: #888;
// }

// ::-webkit-scrollbar-thumb:hover {
//   background: #555;
// }
